<!DOCTYPE html>
<html ng-app='fuocoPad'>
  <head>
    <title>Fuoco-Pad</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">
    <script>
      'use strict';

      var fuocoPad = angular.module('fuocoPad', ['ngMaterial'])
        .controller('FirstController', function() {
          var self = this;
          self.display = {
            documents: false,
            editor: true
          }
        });
    </script>
  </head>
  <body ng-controller="FirstController as model" ng-cloak>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <div layout="column" layout-fill>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span>Fuoco-Pad</span>
          <span flex></span>
          <!-- <md-select ng-model="repoFilter" ng-model-options="{trackBy: '$value.id'}" placeholder="show">
            <md-option ng-value="option" ng-repeat="option in repoFilterOptions">{{ option.name }}</md-option>
          </md-select> -->

          <md-button ng-click="refreshDirs()"><md-icon>refresh</md-icon></md-button>
        </div>
      </md-toolbar>
      <md-content>
        Model {{model.display | json}}
      </md-content>
      <md-content ng-if="model.display.documents">
        Here's the document list
      </md-content>
      <md-content ng-if="model.display.editor">
        Here's the editor.
      </md-content>
    </div>
  </body>
</html>
