<!DOCTYPE html>
<html ng-app='fuocoPad'>
  <head>
    <title>Fuoco-Pad</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- socket.io -->
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <!-- lodash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
    <!-- es6-promise -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/3.0.2/es6-promise.min.js"></script>
    <!-- CodeMirror -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/codemirror.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/codemirror.css"/>

    <!-- Angular Data Table style sheet -->
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
    <!-- Angular Data Table module -->
    <script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>

    <!-- node-uuid -->
    <script src="bower_components/node-uuid/uuid.js"></script>

    <!-- angular spinner -->
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>

    <!-- Firepad -->
    <link rel="stylesheet" href="./firepad.css" />
    <script src="./firepad.js"></script>
    <link rel="stylesheet" href="./styles.css">
    <script>
      'use strict';

      var fuocoPad = angular.module(
        'fuocoPad', ['ngMaterial', 'angularSpinner', 'md.data.table'])
        .config(function($mdThemingProvider) {
          $mdThemingProvider.theme('default')
            .primaryPalette('indigo')
            .accentPalette('blue');
        })
        .controller(
          'FirstController',
          function(
            $scope, $location, $mdToast, $mdSidenav, documentService,
            searchService) {
          var self = this;
          self.search = {};
          self.search.text = '';
          self.search.results = [];
          var socket = null;
          var params = $location.search();
          self.docSelected = [];
          self.docSortOrder = '-lastModified'
          self.searchDocSelected = [];
          self.documents = {};

          self.display = {
            documents: false,
            documentNotFound: false,
            editor: false,
            searchResults: false,
            busy: false
          }

          // FIXME: remodelling document list updates
          // var documentScanner = scanDocuments();
          getDocuments();

          self.currentDocument = null;

          // $scope.$watch(function(scope) {
          //   return (self.searchText)
          // }, function(newValue, oldValue) {
          //   if(newValue && newValue !== oldValue) {
          //     console.log('new:', newValue, 'old:', oldValue);
          //     self.searchDocuments(newValue);
          //   }
          // });

          self.userId = uuid.v4();

          self.openSideNavPanel = function() {
            $mdSidenav('left').open();
          }

          self.closeSideNavPanel = function() {
            $mdSidenav('left').close();
          }

          self.searchDocuments = function() {
            _display('busy');
            searchService.search(self.search.text)
              .then(function(result) {
                self.search.results = result.data;
                _display('searchResults');
              });
          };

          self.editDocument = function(myDocument) {
            // FIXME: remove
            // clearInterval(documentScanner);
            // TODO: make better use of checked items
            // uncheck the boxes on the document list
            self.docSelected = [];
            self.currentDocument = myDocument;
            $location.url('?d=' + myDocument.id);
            initPad(myDocument, self.userId);
            _display('editor');
            // we only need $scope.$apply when a direct link is used
            if(params.d) {
              $scope.$apply();
              delete params.d;
            }
          };

          self.newDocument = function() {
            var newDocument = {
              id: uuid.v4(),
              title: 'Untitled Document'
            };
            documentService.post(newDocument.id)
              .then(function() {
                self.editDocument(newDocument);
              })
              .then(function() {
                $scope.$apply();
              });
          };

          self.show = function(option) {
            // FIXME: only used for displaying document list, rename?
            // destroy webSocket;
            socket = null;
            self.search.text = '';
            // documentScanner = scanDocuments();
            $location.url('/');
            _display(option)
          };

          self.updateDocument = function(myDocument) {
            // TODO: only deal with title now
            // documentService.put(document);
            socket.emit('titleChange', {title: myDocument.title});
          };

          if(params.d) {
            getDocuments().then(function() {
              var index = _.findIndex(self.documents, {id: params.d});
              if(index === -1) {
                delete params.d;
                _display('documentNotFound');
                return $scope.$apply();
              }
              self.editDocument(self.documents[index]);
            });
          } else {
            _display('documents');
          }

          function scanDocuments(interval) {
            var interval = interval || 5000;
            getDocuments();
            return setInterval(function() {
              getDocuments();
            }, interval);
          }

          function getDocuments() {
            return documentService.get()
            .then(function(result) {
              if(result.status === 200) {
                self.documents = result.data;
                $scope.$apply();
              }
            });
          }

          function initPad(myDocument, userId) {
            var serverBaseUrl = 'https://localhost:3000';
            socket = io(serverBaseUrl + '/' + myDocument.id);
            socket.on('titleChange', function(e) {
              console.log('received title change', e.title);
              for(var doc in self.documents) {
                if(self.documents[doc].id === myDocument.id) {
                  self.documents[doc].title = e.title;
                  break;
                }
              }
              $scope.$apply();
            });
            // FIXME: is there a more elegant way to do this reinitialize?
            document.getElementById('firepad').innerHTML = "";
            var codeMirror = CodeMirror(document.getElementById('firepad'), { lineWrapping: true });
            // NOTE: `push` function is for Firebase API compatibility only.
            self.firepad = Firepad.fromCodeMirror({
              server: 'https://localhost:3000',
              document: myDocument.id,
              socket: socket,
              push: function() {
                return {key: function() {return 'VALUE_NOT_USED';}};
              }
            },
            codeMirror, {
              userId: userId,
              richTextShortcuts: true,
              richTextToolbar: true
            });
          }
          function _display(showProperty) {
            for(var propertyName in self.display) {
              self.display[propertyName] = false;
            }
            self.display[showProperty] = true;
          }
        })
        .directive('fuacoEnter', function() {
          return function(scope, element, attrs) {
            element.bind('keydown keypress', function (event) {
              if(event.which === 13) {
                scope.$apply(function() {
                  scope.$eval(attrs.fuacoEnter);
                });
                event.preventDefault();
              }
            });
          };
        })
        .factory('searchService', function($http) {
          var service = {};
          var serverBaseUrl = 'https://fuoco.floydcommons.com:3100';
          service.search = function(query) {
            return Promise.resolve(
              $http.post(serverBaseUrl + '/search/' + query));
          };
          return service;
        })
        .factory('documentService', function($http) {
          var service = {};
          var serverBaseUrl = 'https://localhost:3000';
          service.post = function(documentId) {
            return Promise.resolve(
              $http.post(serverBaseUrl + '/document/' + documentId));
          };
          service.put = function(myDocument) {
            return Promise.resolve(
              $http.put(
                serverBaseUrl + '/document/' + myDocument.id,
                myDocument
              ));
          };
          service.get = function() {
            return Promise.resolve($http.get(serverBaseUrl + '/document'));
          };
          return service;
        });
    </script>
  </head>
  <body ng-controller="FirstController as model" ng-cloak>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <div layout="column" layout-fill>
      <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button ng-click="model.openSideNavPanel()" class="menu" hide-gt-xs>
          <md-icon>&#xE5D2;</md-icon>
        </md-button>
        <span flex="20">
          Fuoco-Pad
        </span>
        <span ng-if="model.display.documents || model.display.searchResults || model.display.busy">
          <md-icon>search</md-icon>
          <input type="text" fuaco-enter="model.searchDocuments()"
          placeholder="Search Documents" ng-model="model.search.text" aria-label="Search Documents"></input>
        </span>
      </div>
      </md-toolbar>
      <div layout="column" layout-fill>
        <md-toolbar class="md-whiteframe-z2 md-hue-3">
        <div class="md-toolbar-tools">
          <span ng-if="model.display.editor">
            <md-input-container class="md-block">
              <input type="text"
              ng-blur="model.updateDocument(model.currentDocument)"
              ng-model="model.currentDocument.title" aria-label="Document Title"></input>
            </md-input-container>
          </span>
          <span flex="25"></span>
          <span ng-if="model.display.searchResults || model.display.busy">Search results</span>
        </div>
        </md-toolbar>
      <div flex layout="row">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2"
          md-component-id="left"
          md-is-locked-open="$mdMedia('min-width: 600px')">
          <md-list>
            <md-list-item ng-if="model.display.documents">
              <md-button ng-click="model.newDocument()" class="md-raised md-warn btn-sidenav">
                New
              </md-button>
            </md-list-item>
            <md-list-item ng-if="model.display.editor || model.display.searchResults || model.display.documentNotFound">
              <md-button ng-click="model.show('documents')"
              class="md-raised md-primary btn-sidenav">
                Main
              </md-button>
            </md-list>
          </md-list>
        </md-sidenav>
        <!-- Document Not Found -->
        <md-content ng-if="model.display.documentNotFound" flex layout-padding>
          <h3>The document you requested no longer exists.</h3>
        </md-content>
        <!-- Documents List -->
        <md-content ng-if="model.display.documents" flex layout-padding>
          <table md-table>
            <thead md-head md-order="model.docSortOrder">
              <tr md-row>
                <th md-column md-order-by="title"><span>Document Title</span></th>
                <th md-column md-order-by="lastModified"><span>Last Modified</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-click="model.docSelected[0] = document"
                ng-class="{'purple': model.docSelected[0] === document}"
                ng-dblclick="model.editDocument(document)"
                ng-repeat="document in model.documents | orderBy: model.docSortOrder">
                <td md-cell>{{document.title}}</md-cell>
                <td md-cell>{{document.lastModified | date:'medium'}}</md-cell>
              </tr>
            </tbody>
          </table>
        </md-content>

        <md-content ng-if="model.display.busy" flex>
          <span flex us-spinner="{radius:30, width:8, length: 16}"></span>
        </md-content>
        <md-content ng-if="model.display.searchResults" flex layout-padding>
          <div ng-if="model.search.results.length > 0">
            <table md-table md-row-select="true" ng-model="model.searchDocSelected">
              <thead md-head md-order="docSortOrder">
                <tr md-row>
                  <th md-column md-order-by="title"><span>Document Title</span></th>
                  <th md-column md-order-by="lastModified" md-desc><span>Last Modified</span></th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="document" md-auto-select="true" md-on-select="model.editDocument" ng-repeat="document in model.search.results | orderBy: docSortOrder">
                  <td md-cell>{{document.title}}</md-cell>
                  <td md-cell>{{document.lastModified | date:'medium'}}</md-cell>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-if="model.search.results.length == 0">
            <h3>None of your files matched this search.</h3>
            <p>Try another search.</p>
          </div>
        </md-content>
        <div ng-show="model.display.editor">
          <div id="firepad"></div>
        </div>
      </div>
    </div>
  </body>
</html>
