/* Height / width / positioning can be customized for your use case.
   For demo purposes, we make the user list 175px and firepad fill the rest of the page. */
#firepad {
  position: absolute; left: 210px; top: 50px; bottom: 0; right: 0; height: auto;
}
.md-sidenav-left {
  width: 200px;
}
.btn-sidenav {
  width: 100%;
}
.gray {
  background: #f5f5f5; }
.green {
  background: #b9f6ca; }
.yellow {
  background: #ffff8d; }
.blue {
  background: #84ffff; }
.purple {
  background: #b388ff; }
.red {
  background: #ff8a80; }
.pad-left-10 {
  padding-left: 10px; }
.pad-top-20 {
  padding-top: 20px;
  padding-left: 0px; }
.md-button.md-icon-button {
  width: 36px;
  padding-left: 8px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
